@import "./reset.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #6f7789;
}

.userCard {
    width: 300px;
    height: 500px;
    background-color: #393D45;
    margin: 5vh auto;
    border-radius: 24px;
    overflow: hidden;
}

.cardHeaderContainer {
    height: 100px;
    background-color: #E7EBEE;
    text-align: center;
    font-size: 36px;
    color: #393D45;
    font-weight: bold;
    padding: 35px;
}

.cardMainContainer {
    padding: 25px;
}

.cardImageContainer {
    margin: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
}

.cardImageContainer > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.cardBioContainer {
    font-size: 14px;
    color: #E7EBEE;
    text-align: justify;
    word-spacing: 0.3em;
    padding: 20px 0;
}
