@import "./reset.css";

*{
    box-sizing: border-box;
}

body{
    background-color: #6f7789;
}

.userCard{
    width: 300px;
    height: 500px;
    background-color: #393D45;
    margin: 5vh auto;
    border-radius: 24px;
    overflow: hidden;
}
.cardHeaderContainer{
    height: 100px;
    background-color: #E7EBEE;
    text-align: center;
    font-size: 36px;
    color: #393D45;
    font-weight: bold;
    padding: 35px;
}