@import "./reset.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #6f7789;
}

.userCard {
    width: 300px;
    height: 500px;
    background-color: #393D45;
    margin: 5vh auto;
    border-radius: 24px;
    overflow: hidden;
}

.cardHeaderContainer {
    height: 100px;
    background-color: #E7EBEE;
    text-align: center;
    font-size: 36px;
    color: #393D45;
    font-weight: bold;
    padding: 35px;
}

.cardMainContainer {
    padding: 25px;
}

.cardImageContainer {
    margin: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
}

.cardImageContainer > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.cardBioContainer {
    font-size: 14px;
    color: #E7EBEE;
    text-align: justify;
    word-spacing: 0.3em;
    padding: 30px 0;
}

.cardStatContainer {
    height: 60px;
    text-align: center;
    color: #E7EBEE;
}

.cardStatBlock {
    display: inline-block;
    height: inherit;
    width: 33%;
}

.cardStatBlock > h2 {
    font-size: 30px;
    padding: 5px 0;
}

.cardButtonsContainer {
    text-align: center;
    padding: 10px 0;
}

.cardButtonsContainer > button {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 105px;
    height: 35px;
    border-radius: 25px;
    border: none;
}

.btn-1 {
    background-color: #4269E2;
    color: #E7EBEE;
}

.btn-2 {
    background-color: #E7EBEE;
    color: #393D45;
}
